name: Tests and memory checks

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  unit-tests:
    runs-on: yag000/c_tools:latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Unit tests
        run: make test


  valgrind-tests:
    runs-on: yag000/c_tools:latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Integration tests
        run: make test-valgrind

